:root {
	--primaryColor: #ff8f3c;
}

body {
	font-family: "Poppins", sans-serif;
	overflow-x: hidden !important;
}

.link a {
	color: var(--primaryColor);
}

.active {
	font-weight: 500;
	color: white;
}

.underlineActive {
	border-bottom: #ff8f3c solid 3px;
	width: 70%;
	margin: auto;
}

.heroImgPlaceholder {
	background-image: url("../Assets/homePage/img-hero-banner.png") !important;
	background-position: center;
	height: 600px;
}

.heroBanner button {
	background-color: var(--primaryColor);
}

.heroBanner button:hover {
	background-color: #e77d2c;
}

.contentBanner h1 {
	font-size: 4rem;
	font-weight: 600;
}

.contentBanner p {
	font-size: 1.2rem;
	font-weight: 300;
}

.categoryContent {
	height: 300px;
	border-radius: 20px !important;
}

.livingRoom {
	background-image: url("../assets/homePage/img-living-room.png");
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px !important;
}

.bedroom {
	background-image: url("../assets/homePage/img-bedroom.png");
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px !important;
}

.kitchen {
	background-image: url("../assets/homePage/img-kitchen.png");
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px !important;
}

.productCard {
	cursor: pointer;
	border-radius: 20px;
}

.productCard:hover {
	box-shadow: 2px 27px 65px -19px rgba(137, 137, 137, 0.75) !important;
	-webkit-box-shadow: 2px 27px 65px -19px rgba(137, 137, 137, 0.75) !important;
	-moz-box-shadow: 2px 27px 65px -19px rgba(137, 137, 137, 0.75) !important;
}

.testimoni {
	background-color: #ececec;
}

.testimoni p {
	line-height: 1.8;
}

.customerAndCompany h5 {
	color: var(--primaryColor);
}

footer {
	background-color: #0b0d17;
}

footer p {
	font-weight: 300;
}

footer ul {
	list-style: none;
}

footer ul li a {
	color: rgb(141, 141, 141);
}

footer ul li a:hover {
	color: #fff;
	font-weight: 500;
}

.btnNewsLetter img {
	z-index: 5;
}

::placeholder {
	font-size: 14px;
	font-weight: 300;
	color: white;
}

.productName,
.productPrice {
	color: #353535;
}

.product {
	cursor: pointer;
	border-radius: 20px;
	padding: 8px;
}

/*OWL*/
.owl-controls .owl-buttons {
	position: relative;
}
.owl-controls .owl-prev {
	position: absolute;
	left: -40px;
	bottom: 180px;
	padding: 8px 17px;
	background: var(--primaryColor);
	border-radius: 50px;
	transition: 0.5s;
}
.owl-controls .owl-next {
	position: absolute;
	right: -40px;
	bottom: 180px;
	padding: 8px 17px;
	background: var(--primaryColor);
	border-radius: 50px;
	transition: 0.5s;
}
.owl-controls .owl-prev:after,
.owl-controls .owl-next:after {
	content: "\f104";
	font-family: FontAwesome;
	color: #fff;
	font-size: 16px;
}
.owl-controls .owl-next:after {
	content: "\f105";
}
.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover {
	background: #f3791c;
}
