:root {
	--primaryColor: #ff8f3c;
}

body {
	font-family: "Poppins", sans-serif;
	overflow-x: hidden !important;
}

.active {
	font-weight: 500;
	color: white;
}

.underlineActive {
	border-bottom: #ff8f3c solid 3px;
	width: 70%;
	margin: auto;
}

.heroImgPlaceholder {
	background-image: url("assets/homePage/img-hero-banner.png");
	background-position: center;
	height: 600px;
}

.heroBanner button {
	background-color: var(--primaryColor);
}

.heroBanner button:hover {
	background-color: #e77d2c;
}

.contentBanner h1 {
	font-size: 4rem;
	font-weight: 600;
}

.contentBanner p {
	font-size: 1.2rem;
	font-weight: 300;
}

.categoryContent {
	height: 300px;
	border-radius: 20px !important;
}

.livingRoom {
	background-image: url("assets/homePage/img-living-room.png");
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px !important;
}

.bedroom {
	background-image: url("assets/homePage/img-bedroom.png");
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px !important;
}

.kitchen {
	background-image: url("assets/homePage/img-kitchen.png");
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 20px !important;
}

.testimoni {
	background-color: #ececec;
}

.testimoni p {
	line-height: 1.8;
}

.customerAndCompany h5 {
	color: var(--primaryColor);
}

footer {
	background-color: #0b0d17;
}

footer p {
	font-weight: 300;
}

footer ul {
	list-style: none;
}

footer ul li a {
	font-weight: 300;
	color: #e1e1e1;
}

footer ul li a:hover {
	color: #fff;
	font-weight: 500;
}

.btnNewsLetter img {
	z-index: 5;
}

::placeholder {
	font-size: 14px;
	font-weight: 300;
	color: white;
}
